<div class="row">
	<div rbs-aside-column>
		<rbs-default-asides-for-editor></rbs-default-asides-for-editor>
	</div>

	<div class="document-form" rbs-main-column>
		<rbs-page-header document="document" sub-title="{{ i18nAttr('m.tutorial.cookbook.documents.recipe', ['ucf']) }}"></rbs-page-header>
		<div ng-switch="editMode">
			<rbs-document-editor ng-switch-when="translate" rbs-document-editor-translate="" rbs-document-editor-tutorial-cookbook-recipe-translate=""></rbs-document-editor>
			<rbs-document-editor ng-switch-default="" rbs-document-editor-tutorial-cookbook-recipe=""></rbs-document-editor>
		</div>
	</div>
</div>