<rbs-links-panel title="{{ i18nAttr('m.rbs.admin.admin.contents', ['ucf']) }}">
	<a rbs-active-route="" href="{{ namedURL('Tutorial_Cookbook_Recipe', 'list') }}" rbs-panel-link="">{{ i18nAttr('m.tutorial.cookbook.documents.recipe_list', ['ucf']) }}</a>
</rbs-links-panel>
